name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
     
      - name: npm install
        run: npm install

      - name: Lint
        run: npm run eslint

      - name: Build
        run: npm run build

      - name: Unit tests
        run: npm run test

      - name: E2E tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000

      - name: Bump version and push tag
        if: github.event_name == 'push' && !contains(toJson(join(github.event.commits.*.message)), '#skip')
        uses: anothrNick/github-tag-action@eca2b69f9e2c24be7decccd0f15fdb1ea5906598
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          
      - name: Deploy to heroku
        if: github.event_name == 'push' && !contains(toJson(join(github.event.commits.*.message)), '#skip')
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "dexmypoke"
          heroku_email: "mikevedsted@gmail.com"
          healthcheck: "https://dexmypoke.herokuapp.com/health"
          checkstring: "ok"
          rollbackonhealthcheckfailed: true    

      - name: Notify on slack
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: '${{ job.status }}' === 'success' ?  `Successfully deployed a new version (${process.env.AS_COMMIT}) of DexMyPoke with ${process.env.AS_WORKFLOW}\nThis action was triggered by ${process.env.AS_AUTHOR}\nProcess took ${process.env.AS_TOOK}` : `Work flow failed on ${process.env.AS_REPO} for commit ${process.env.AS_COMMIT}`'
                fields: '${{ job.status }}' === 'success' ? []  : [{all}]'
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        if: always()